<section class="page-section background-image viewport bg-dark" style="background-image: url({{root}}/assets/img/alt_wide_1.svg);">
  <div class="row">
    <div class="columns medium-8">
      <h1>
        Foundation Blocks
      </h1>
      <p class="large-text">
        Over 170 responsive design blocks ready to be used in your web or mobile apps. All blocks are based on the Bootstrap Library, and they are the building blocks for beautiful websites.
      </p>
      <a class="button" href="https://github.com/hardpixel/foundation-blocks">Github Docs</a>
    </div>
  </div>
</section>

<div id="main-nav" class="row expanded text-center">
  <div class="top-bar">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-item">
        <a href="call_to_action.html">Call to action</a>
      </li>
      <li class="menu-item">
        <a href="contacts.html">Contacts</a>
      </li>
      <li class="menu-item">
        <a href="contents.html">Contents</a>
      </li>
      <li class="menu-item">
        <a href="features.html">Features</a>
      </li>
      <li class="menu-item">
        <a href="footers.html">Footers</a>
      </li>
      <li class="menu-item">
        <a href="forms.html">Forms</a>
      </li>
      <li class="menu-item">
        <a href="headers.html">Headers</a>
      </li>
      <li class="menu-item">
        <a href="pricings.html">Pricings</a>
      </li>
      <li class="menu-item">
        <a href="teams.html">Teams</a>
      </li>
      <li class="menu-item">
        <a href="testimonials.html">Testimonials</a>
      </li>
    </ul>
  </div>
</div>
